/* External style */

/* h3 {
    color: blueviolet;
} */

/* h1 {
    color: blue;

} */

/* #heading-first-id {
    color: sandybrown;
} */

/* gold: 0, silver: 2, bronze: 0 */
.heading-first.heading-first-first {
    color: blueviolet;
}

/* gold: 0, silver: 1, bronze: 1 */
h1.heading-first-first {
    color: cyan;
}

/* gold: 1, silver: 1, bronze: 1 */
#heading-wrapper-id.heading-wrapper h1 {
    color: darkblue;
}

/* gold: 0, silver: 2, bronze: 0 */
.heading-wrapper .heading-first {
    color: yellowgreen;
}

/* gold: 1, silver: 1, bronze: 0 */
#heading-wrapper-id .heading-first {
    color: violet;
}

/* Element name */
/* Class name */
/* Identifier - id */

/* 
    id = gold
    class = silver
    element name = bronze
*/

/* gold: 1, silver: 1, bronze: 1 */
/* #wrapper.wrapper p{
    color: yellow;
} */

/* gold: 1, silver: 1, bronze: 0 */
/* #wrapper .paragraph-inside-wrapper {
    color: darkblue;
} */

/* gold: 1, silver: 1, bronze: 0 */
/* .wrapper #paragraph-id {
    color: violet;
} */

/* gold: 0, silver: 0, bronze: 2 */
/* div p {
    color: blue;
} */

/* gold: 0, silver: 3, bronze: 1 */
/* .wrapper p.paragraph-inside-wrapper.paragraph {
    color: yellowgreen;
} */

/* gold: 0, silver: 2, bronze: 1 */
/* div .paragraph-inside-wrapper.paragraph {
    color: pink;
} */

div .h5 {
    color: darkblue;
}

.first-wrapper #h5 {
    color: darkred;
}

#first-wrapper #p {
    color: darkviolet;
}

#wrapper p {
    color: gainsboro;
}

.wrapper h5#h5 {
    color: hotpink;
}

#wrapper.first-wrapper .paragraph {
    color: lawngreen;
}

#h5.h5 {
    color: lightseagreen;
}
